body {
    font-family: "Roboto", sans-serif;
}
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
li {
    margin-bottom: 10px;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}
