.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    width: 95%; /* Set the width to 95% */
    height: 95%;
    margin: 0 auto; /* Center align the grid */
}

.answer-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional: horizontally center the text */
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    font-size: xx-large;
}

.container {
    position: relative;
    text-align: center;
}

.question-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.next-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 37px;
    font-size: medium; /* Adjust font size as needed */
    margin-right: 0px;
}


.question {
    width: 100%;
    text-align: center;
    font-size: xx-large;
}
